* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;
  padding-top: 51px;
  background: url('../images/developer.png'), url('../images/header_bg.png'),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  /* border: 1px solid green; */
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  align-items: center;
}
.color-orange {
  color: #fd6e0a;
  font-weight: 900;
}
nav .Menu {
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .Menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
.btn {
  background-color: #fd6e0a;
  border-radius: ;
  border: none;
  font-size: 20px;
  padding: 19px 35px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.banner-content h3 {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
/* .banner-content {
  /* margin-top: 20px;
  margin-left:196px;
  margin-right:785px;
  margin-bottom:30px; */

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 230px;
}

#banner .banner-image {
  max-width: 585px;
  vertical-align: middle;
}
