* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #fff8f3;
  padding: 51px;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  /* border: 1px solid green; */
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  align-items: center;
}
.color-orange {
  color: #fd6e0a;
  font-weight: 900;
}
nav .Menu {
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .Menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
.btn {
  background-color: #fd6e0a;
  border-radius: ;
  border: none;
  font-size: 20px;
  padding: 19px 35px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
